language: cpp
os:
  - linux
  - osx
branches:
  only:
    - master
compiler:
  - gcc
  - clang
before_install:
  - cp golded3/mygolded.__h golded3/mygolded.h
script:
  - if [[ "CXX" == "g++" ]]; then CPPFLAGS="-Wno-write-strings -Wno-unused-result" make; fi
  - if [[ "CXX" == "clang++" ]]; then CPPFLAGS="-Wno-keyword-macro -Wno-c++11-compat-deprecated-writable-strings" make; fi
