#!/usr/bin/make -f
# Debhelper enabled debian/rules script for GoldEd+.
# Adapted from sample included in Debhelper package.
# GNU copyright 1997 to 1999 by Joey Hess.
# Copyright 2000-2002 Peter Karlsson.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=3

build: build-stamp
build-stamp:
	dh_testdir
	
	# Add here commands to compile the package.
	sed -f debian/patch-mygolded_h.sed golded3/mygolded.__h > golded3/mygolded.h
	cat Makefile debian/patch-Makefile > Makefile.Debian
	$(MAKE) -f Makefile.Debian

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) clean
	rm -f golded3/mygolded.h Makefile.Debian
	rm -rf obj lib bin dep

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/goldedplus.
	$(MAKE) -f Makefile.Debian install DESTDIR=`pwd`/debian/goldedplus

	# Install default configurations etc. and link from doc dir
	install -p -m644 cfgs/charset/*.{chs,esc} debian/goldedplus/usr/share/goldedplus/charset
	ln -s ../../../goldedplus/charset debian/goldedplus/usr/share/doc/goldedplus/examples/charset
	install -p -m644 cfgs/colorset/*.cfg debian/goldedplus/usr/share/goldedplus/colorset
	ln -s ../../../goldedplus/colorset debian/goldedplus/usr/share/doc/goldedplus/examples/colorset
	install -p -m644 cfgs/config/{*.cfg,goldlang.*} debian/goldedplus/usr/share/goldedplus/config
	ln -s ../../../goldedplus/config debian/goldedplus/usr/share/doc/goldedplus/examples/config
	install -p -m644 cfgs/template/{*.tpl,*.cfm} debian/goldedplus/usr/share/goldedplus/template
	ln -s ../../../goldedplus/template debian/goldedplus/usr/share/doc/goldedplus/examples/template

	# Install icon for use in menu
	install -m644 debian/golded.xpm debian/goldedplus/usr/X11R6/include/X11/pixmaps

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installcron
	dh_installmanpages
	dh_installinfo
	dh_installchangelogs -k docs/notework.txt
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
